# Site settings
title: "Negabaro`s Blog"
subtitle: "Effort is the best way to realizing your dreams."
default_author: negabaro
description: "Hello World"  # used in site head

# register on google analytics and replace this token
# google track ID 추가 
google_analytics: UA-108098306-1
# disque comments are broken if you send http:// along with url, this url is same as the one given on disqus
# Deleting the value would remove it from footer.
disqus_url: disqus.com/by/negabaro
disqus_id: minjujublog
# register on feedburner and replace this url. Deleting the value will remove it from footer.
feedburner_url: #https://feedburner.google.com/fb/a/mailverify?uri=programmer-wannabe&amp;loc=en_US

# footer details. Deleting the value would remove it from footer.
github_username: negabaro
facebook_username: negabaro
email: negabaro@gmail.com
stackoverflow_username: #8601335/minjunju?tab=profile
#twitter_username : 
#linkedin_username : 
#keybase_username : 
copyright_name: negabaro
rss : true

# used for portfolio on home page
collections:
  - portfolio

# used to estimate reading time
wpm: 150

# Build settings
markdown: kramdown
highlighter: rouge
exclude: ["vendor","less","node_modules","Gruntfile.js","package.json","README.md"]
port: 8888
permalink: /archive/:title

# jekyll-paginate. for paginating blog posts.
paginate: 25
paginate_path: archive/page:num


# gem dependencies
plugins: [jekyll-paginate, jekyll-feed, jekyll-gist, jekyll-debug]

# search_google
google-site-verification: googlee83f7bf87778e4a8.html

