span {
    display: block;
    text-shadow: 1px 1px 1px white;
  }
  
  ul {
    height: 100%;
    padding: 0px;
    background-color: white;
    border: solid #ccc 3px;
    padding: 0.5em;
  }
  
  button {
    display: block;
  }
  
  li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0.5em;
  }
  
  li:after {
    clear: both;
  }
  
  #button_tmpl {
    display: none;
  }
  